{% extends 'base.html' %}

{% block title %}比价系统 - 首页{% endblock %}


{% block content %}

    <div class="container-fluid block-menu">
        <div class="row-fluid">
            <div class="pull-left">
                <ul class="nav nav-tabs">
                    <li><a href="#Home" data-toggle="tab"><i class="icon-home"></i> 主页</a></li>
                    <li><a href="#Taobao" data-toggle="tab">淘宝</a></li>
                    <li><a href="#Amazon" data-toggle="tab">亚马逊</a></li>
                    <li><a href="#Jingdong" data-toggle="tab">京东</a></li>

                    <label class="checkbox inline" style="margin-top: 3px">
                        <input type="checkbox" id="check-fav" value="no"> 只显示收藏商品
                    </label>
                </ul>
            </div>


            <div class="btn-group pull-right">
                <button id="sort-btn" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    商品排序： <i class="icon-chevron-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="sort-id">名称</a></li>
                    <li><a class="sort-id">价格（升序）</a></li>
                    <li><a class="sort-id">价格（降序）</a></li>
                </ul>

            </div>

            <div class="btn-group pull-right">

                <button id="num-btn" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    每页数量： <i class="icon-chevron-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="num-id">9</a></li>
                    <li><a class="num-id">18</a></li>
                    <li><a class="num-id">27</a></li>
                </ul>
            </div>

            <div class="input-prepend input-append pull-right">
                <span class="add-on">价格区间：</span>
                <input class="input-small price-low" id="prependedInput" type="text">
                <span class="add-on">到</span>
                <input class="input-small price-high" id="appendedInputButton" type="text">
                <button class="btn btn-info" type="button" id="btn-price">确定</button>
            </div>


        </div>

    </div>


    <div class=" container-fluid block-content">


        <div class="tab-content">
            <div class="tab-pane" id="Home">


            </div>
            <div class="tab-pane" id="Taobao">


            </div>
            <div class="tab-pane" id="Amazon">


            </div>
            <div class="tab-pane" id="Jingdong">

            </div>

        </div>


    </div>


    <div id="more-div" class="alert alert-info">

        <p class="wrapper"><strong>对当前结果不满意，想搜索更多？</strong></p>
        <button id="more-btn" class="btn btn-success wrapper">继续检索</button>

    </div>



    <script type="text/javascript">

        window['search_query'] = '';
        window['search_page'] = 0; // 每次检索互联网的页数
        window['sort'] = '名称';
        window['num'] = 9; // 本地网站显示的每页商品数
        window['price_low'] = 0; // 价格下界
        window['price_high'] = 999999999; // 价格上界
        window['check_fav'] = false; // 是否只显示收藏


        // 页面加载完毕开始执行
        $(document).ready(function () {

            // 激活主页
            $('.nav-tabs li:first').addClass('active');
            $('#Home').addClass("active");

            // 隐藏深入搜索提示
            $('#more-div').hide();

            // 设定消息通知属性
            $._messengerDefaults = {
                extraClasses: 'messenger-fixed messenger-theme-future messenger-on-bottom'
            }

            // 是否通过搜索跳转到此页面

            if ($('#search_query').val() != '') {
                window['search_query'] = $('#search_query').val();
                update(); // 由于是首次提交关键字，向服务器请求执行跨站搜索以更新数据库
            }

            // 检索本地数据库，显示商品列表
            search();

            ///////////////
            // 下面是事件函数
            ///////////////

            // 切换不同站点的商品
            $('.nav-tabs li a').click(function () {

                setTimeout(function () {
                    search();

                }, 100);

            });

            // 重新排序

            $('.sort-id').click(function () {

                window['sort'] = $(this).text();
                $('#sort-btn').text('商品排序： ' + window['sort']);


                search();

            });


            // 设定每页数量
            $('.num-id').click(function () {

                window['num'] = $(this).text();
                $('#num-btn').text('每页数量： ' + window['num']);

                search();
            });

            // 按价格区间排序
            $('#btn-price').click(function () {
                window['price_low'] = $('.price-low').val();
                window['price_high'] = $('.price-high').val();

                search();
            });

            // 是否只显示收藏
            $('#check-fav').click(function(){
                window['check_fav'] = $(this).prop('checked');
                search();
            });


            // 更深入的搜索
            $('#more-btn').click(function () {

                window['search_page'] += 1;
                update();
                $('#more-div').hide();
            });


        });
    </script>



{% endblock %}