<li class="span4">


    <div class="thumbnail">

        <div class="media">

            <div class="brief-pic pull-left">
                <a href="{{ item.url }}">
                    <img class="img-rounded" src="{{ item.img }}">
                </a>
            </div>

            <div class="media-body">
                <a href="{{ item.url }}">
                    <strong title="{{ item.name }}">{{ item.name|truncatechars:"15" }}</strong>
                </a>

                <div>
                    <span class="label label-important" >￥ {{ item.price | floatformat:2 }}</span>
                    <span class="label label-inverse" >{{ item.get_site_display }}</span>
                </div>
                <div style="margin-top: 20px">
                    <span>
                    <i class="icon-hand-up"></i> {{ item.click_num }}
                    <i class="icon-heart"></i> {{ item.favorite.all|length }}
                    </span>

                </div>


            </div>
        </div>


    </div>


</li>

