<div class="block-title">
    <span class="badge badge-important"><i class="icon-star"></i> 热门商品</span>

</div>


{% if hot_list %}


    <div id="hotCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        {% for page in hot_list %}
            {% ifequal forloop.counter0 0 %}
                <li class="active" data-target="#hotCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% else %}
                <li data-target="#hotCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endifequal %}
        {% endfor %}
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for page in hot_list %}
            {% ifequal forloop.counter0 0 %}
                <div class="active item">
            {% else %}
                <div class="item">
            {% endifequal %}

        <ul class="thumbnails">

            {% for item in page %}

                {% include "include/item_brief.html" %}
            {% endfor %}

        </ul>

        </div>
        {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#hotCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#hotCarousel" data-slide="next">&rsaquo;</a>
    </div>

{% else %}
    <div class="alert alert-info"><p><strong>目前还没有商品信息。</strong></p></div>
{% endif %}

<div class="block-title">
    <span class="badge badge-important"><i class="icon-star"></i> 新鲜商品</span>

</div>

{% if fresh_list %}

    <div id="freshCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        {% for page in fresh_list %}
            {% ifequal forloop.counter0 0 %}
                <li class="active" data-target="#freshCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% else %}
                <li data-target="#freshCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endifequal %}
        {% endfor %}
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for page in fresh_list %}
            {% ifequal forloop.counter0 0 %}
                <div class="active item">
            {% else %}
                <div class="item">
            {% endifequal %}
        <ul class="thumbnails">

            {% for item in page %}

                {% include "include/item_brief.html" %}
            {% endfor %}

        </ul>

        </div>
        {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#freshCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#freshCarousel" data-slide="next">&rsaquo;</a>
    </div>

{% else %}
    <div class="alert alert-info"><p><strong>目前还没有商品信息。</strong></p></div>
{% endif %}
